<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-icon-180x180.png">
  <link href="/static/team.ico" rel="icon">

  <link href="" rel="stylesheet">


  <title>Title page</title>

<link href="/static/main.550dcf66.css" rel="stylesheet"></head>

<body> <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-default active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html" title="">
          <img src="/static/assets/images/SIM_LogoTag_Portland_RGB.png" class="navbar-logo-img" alt="">
          SIM Portland
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="/templates/project.html" title="">Project</a></li>
          <li>
            <p>
              <a href="./login.html" class="btn btn-default navbar-btn" title="">Login</a>
          <li><a href="./templates/register.html" title="">Register</a></li>
            </p>
          </li>
        </ul>
      </div> 
    </div>
  </nav>
</header>

<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Education Committee</h1>
          <p>Society of Information Management (SIM) Portland Chapter</p>
          <br>
          <a href="/templates/project.html" class="btn btn-default btn-lg" title="">Discover</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="text-center">
            <h2>Mission Statement</h2>
            <p>Provide opportunities for  continuous learning for members and recruit/prepare the next generation of young adults for the Digital Age pipeline
          </div>
       </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">      
          <div class="col-xs-12">


            <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
                
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img class="img-responsive" src="/static/assets/images/img-06.jpg" alt="First slide">
                        <div class="carousel-caption card-shadow reveal">
                          
                          <h3>Initiatives</h3>
                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                          </a>
                          <p>
                            Executive Coaching
                          </p>
                          <p>
                            STEM Outreach
                          </p>
                          <p>
                            Scholarship Stewardship
                          </p>
                          <p>
                            Book Club
                          </p>
                          <p>
                            College Mentoring
                          </p>
                          <a href="/templates/project.html" class="btn btn-primary" title="">
                            Discover
                          </a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="/static/assets/images/img-07.jpg" alt="First slide">
                        <div class="carousel-caption card-shadow reveal">

                          <h3>Lbortis</h3>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              <span class="sr-only">Next</span>
                            </a>
                          <p>
                            Pre id tellus in risus pre
                            tium imperdiet eu lobortis dolor. Sed pellentesque, urna ac viverra lacinia, erat mauris venenatis purus, mollis egestas urna purus ac ex.
                            Aenean nunc sem, lobortis at elit non, lobortis laoreet nibh. Maecenas at mi ipsum.
                          </p>
                          
                          <p>
                            Quisque tempor, ligula pharetra luctus elementum, arcu nisl suscipit ante, pharetra commodo dui est et enim. Sed eu vestibulum elit. Donec ut libero non.
                          </p>
                          <a href="/templates/project.html" class="btn btn-primary" title="">
                            Discover
                          </a>
                        </div>
                    </div>
                </div>
               
            </div>

           
          </div>
          
        </div>  
      
    </div>
  </div>

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2>Committee Members</h2>
          <p>Praesent at feugiat est, at faucibus ipsum. Aenean condimentum mauris vel malesuada pulvinar. <br>Vestibulum sit amet hendrerit leo, quis vehicula mi.</p>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img src="/static/assets/images/Caesar_photo_Sept_2019.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Caesar Bernardo</h3>
          <h4>Director</h4>
          <p>Sed elementum vehicula nisl, a egestas velit rhoncus nec.Cras vel sapien tincidunt, lacinia risus vel, imperdiet neque.</p>
          <p>
            <a href="https://www.linkedin.com/in/caesarbernardo/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>
       
        <div class="col-xs-12 col-md-6">
          <img src="/static/assets/images/Rama_Balasubramanian.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Rama Balasubramanian</h3>
          <h4>Deputy Director</h4>
          <p>Praesent at feugiat est, at faucibus ipsum. Aenean condimentum mauris vel malesuadav pulvinar. Vestibulum sit amet hendrerit leo, quis vehicula mi.</p>
          <p>
            <a href="https://facebook.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>

        <div class="row">
        <div class="col-xs-12 col-md-2">
          <img src="/static/assets/images/Travis_Luckey.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Travis Luckey</h3>
          <h4>Book Club</h4>
            <a href="https://www.linkedin.com/in/travisluckey/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>

        <div class="col-xs-12 col-md-2">
          <img src="/static/assets/images/Brad_Denney.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Brad Denney</h3>
          <h4>Mentoring</h4>
            <a href="https://www.linkedin.com/in/brad-denney-mais-pmp-adkar-1769b16/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>

               <div class="col-xs-12 col-md-2">
          <img src="/static/assets/images/Pradeep_Kumar.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Pradeep Kumar</h3>
          <h4>Scholarship</h4>
            <a href="https://www.linkedin.com/in/pradeeppdx/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>
                 <div class="col-xs-12 col-md-2">
          <img src="/static/assets/images/Bill_Erickson.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Bill Erickson</h3>
          <h4>Communications</h4>
            <a href="https://www.linkedin.com/in/bill-erickson-8b0aba134/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>

                 <div class="col-xs-12 col-md-2">
          <img src="/static/assets/images/Jeff_Honsowetz.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Jeff Honsowetz</h3>
          <h4>Advisor</h4>
            <a href="https://www.linkedin.com/in/jeffhonsowetz/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>
        <div>
                 <div class="col-xs-12 col-md-2">
          <img src="/static/assets/images/Fred_Pond.jpg" alt="" class="reveal img-responsive reveal-content image-center">
          <h3>Fred Pond</h3>
          <h4>Advisor</h4>
            <a href="https://www.linkedin.com/in/fred-pond-b0b8b8/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>